<div class="panel panel-default">
  <div class="panel-body">
    <% if @connection.is_a?(TwitterConnection) %>
      <%= render "twitter_connection" %>
    <% end %>
    <%= link_to "Back", :back %>
  </div>
</div>