@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

a:hover {
	text-decoration: none;
}

ul {
	list-style: none;
}

// Connecting an Account Page

span.flagged-words {
	font-size: 10px;
	font-style: italic;
	color: #9b9c9c;
	margin-left: 5px;
}

// Flagged Posts

img.connection-img {
	border-radius: 3px;
}
